<h1>Welcome in home page before login</h1>
<p>SaveMoney is the best tool to improve your awareness of your money. Your expenses, your incomes, control your wallet and don't lose your money in a stupid way.</p>
<%= link_to 'Sing-up', new_user_path, class: 'btn btn-default'%>
<%= link_to 'Sign-in', login_url, class: 'btn btn-default' %>