<h1>Welcome in home page after login</h1>
<%= link_to 'Income', incomes_path, class: 'btn btn-default' %>
<%= link_to 'Expenses', incomes_path, class: 'btn btn-default' %>
<%= link_to 'Category', categories_path, class: 'btn btn-default' %>